{{- $params := .Scratch.Get "params" -}}

<div class="post-footer mt-12" id="post-footer">
    <div class="post-info border-b border-[var(--color-border)] dark:border-[var(--color-border-dark)] pt-4 pb-1">
        <div class="post-info-line flex justify-between">
            <div class="post-info-mod text-[0.8em] text-[var(--color-text-secondary)] dark:text-[var(--color-text-secondary-dark)]">
                <span>
                    {{- with .Site.Params.dateformat | default "2006-01-02" | .Lastmod.Format -}}
                        {{- dict "Date" . | T "updatedOnDate" -}}
                        {{- if $.Site.Params.gitRepo -}}
                            {{- with $.GitInfo -}}
                                &nbsp;<a class="git-hash text-[var(--color-single-link)] dark:text-[var(--color-single-link-dark)] hover:text-[var(--color-single-link-hover)] dark:hover:text-[var(--color-single-link-hover-dark)]" href="{{ printf `%v/commit/%v` $.Site.Params.gitRepo .Hash }}" target="_blank" title="commit by {{ .AuthorName }}({{ .AuthorEmail }}) {{ .Hash }}: {{ .Subject }}">
                                    <i class="fas fa-hashtag" aria-hidden="true"></i>{{- .AbbreviatedHash -}}
                                </a>
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                </span>
            </div>
            {{- if eq .Site.Params.analytics.enable true -}}
            <div id="page-views" class="post-info-mod text-[0.8em] text-[var(--color-text-secondary)] dark:text-[var(--color-text-secondary-dark)]">
            </div>
            {{- end -}}
            {{- with $params.license | string -}}
            <div class="post-info-license text-[0.8em] text-[var(--color-text-secondary)] dark:text-[var(--color-text-secondary-dark)]">
                <span>
                    {{- . | safeHTML -}}
                </span>
            </div>
            {{- end -}}
        </div>
        <div class="post-info-line flex justify-between">
            <div class="post-info-md text-[0.8rem] w-32">
                {{- if $params.linktomarkdown -}}
                    {{- with .OutputFormats.Get "markdown" -}}
                        <span>
                            <a class="link-to-markdown text-[var(--color-single-link)] dark:text-[var(--color-single-link-dark)] hover:text-[var(--color-single-link-hover)] dark:hover:text-[var(--color-single-link-hover-dark)]" href="{{ .RelPermalink }}" target="_blank">
                                {{- T "readMarkdown" -}}
                            </a>
                        </span>
                    {{- end -}}
                {{- end -}}
            </div>
            <div class="post-info-share">
                <span>
                    {{- partial "plugin/share.html" . -}}
                </span>
            </div>
        </div>
    </div>

    <div class="post-info-more py-1 pb-4 flex justify-between text-[0.9rem]">
        <section class="post-tags max-w-[65%]">
            {{- with .Params.tags -}}
                <i class="fas fa-tags" aria-hidden="true"></i>&nbsp;
                {{- range $index, $value := . -}}
                    {{- if gt $index 0 }},&nbsp;{{ end -}}
                    {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                    <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
                {{- end -}}
            {{- end -}}
        </section>
        <section>
            <span><a href="javascript:void(0);" onclick="window.history.back();">{{ T "back" }}</a></span>&nbsp;|&nbsp;<span><a href="{{ .Site.Home.RelPermalink }}">{{ T "home" }}</a></span>
        </section>
    </div>

    <div class="post-nav after:content-['_'] after:table before:content-['_'] before:table">
        {{- $prevPage := false -}}
        {{- $nextPage := false -}}
        {{- if or (.Params.prev) (.Params.next) -}}
            {{- with .Params.prev -}}
                {{- $prevPage = $.Site.GetPage . -}}
            {{- end -}}
            {{- with .Params.next -}}
                {{- $nextPage = $.Site.GetPage . -}}
            {{- end -}}
        {{- else -}}
            {{- $prevPage = .PrevInSection -}}
            {{- $nextPage = .NextInSection -}}
        {{- end -}}
        {{- with $prevPage -}}
            <a href="{{ .RelPermalink }}" class="prev float-left text-base font-semibold transition-all duration-300 ease-out hover:-translate-x-1" rel="prev" title="{{ .Title }}"><i class="fas fa-angle-left" aria-hidden="true"></i>{{ .Title | emojify }}</a>
        {{- end -}}
        {{ with $nextPage }}
            <a href="{{ .RelPermalink }}" class="next float-right text-base font-semibold transition-all duration-300 ease-out hover:translate-x-1" rel="next" title="{{ .Title }}">{{ .Title | emojify }}<i class="fas fa-angle-right" aria-hidden="true"></i></a>
        {{- end -}}
    </div>
</div>
